* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn_1 {
  background-color: #000000;
  color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000000;
}

.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  padding: 0px 18px;
  font-size: 16px;
}

.banner {
  height: 100vh;
  background-image: url("../images/home/design1.png");
  background-size: cover;
}
.banner .hero {
  padding: 50px 0px;
  height: 88vh;
  display: flex;
  align-items: center;
}
.banner .hero h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 74.7px;
}
.banner .hero h1 {
  font-size: 98px;
  font-weight: 600;
}
.banner .hero h3 {
  font-weight: 300;
  font-size: 38px;
  line-height: 142%;
}
.banner .hero .btn {
  margin-top: 20px;
}

.b2b_brand {
  padding: 50px 0px;
}
.b2b_brand h2 {
  font-weight: 500;
  font-size: 54px;
  line-height: 124.5%;
  text-align: center;
}
.b2b_brand .brands {
  margin-top: 50px;
}
.b2b_brand .brands .brand {
  text-align: center;
}
.b2b_brand .brands .brand h6::before {
  content: "";
  border-top: 1px solid #FFDB00;
  border-width: 15px;
  width: 330px !important;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.b2b_brand .brands .brand h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 124.5%;
  text-transform: uppercase;
  margin: 15px 0px;
  position: relative;
  z-index: 1;
}
.b2b_brand .brands .brand h5 {
  font-weight: 300 !important;
  font-size: 34px;
  line-height: 124.5%;
  margin: 15px 50px;
}

.linkedin_bus {
  background-image: url("../images/home/blackbg1.png");
  background-size: cover;
  padding: 50px;
  color: #FFFFFF !important;
}
.linkedin_bus .linkedin_bus_con h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 54px;
  line-height: 124.5%;
  margin-bottom: 60px;
}
.linkedin_bus .linkedin_bus_con .linkedin_bus_box {
  text-align: center;
  padding: 0px 70px;
  margin-top: 50px;
}
.linkedin_bus .linkedin_bus_con .linkedin_bus_box img {
  height: 100px;
}
.linkedin_bus .linkedin_bus_con .linkedin_bus_box h4 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  text-align: start;
  margin-top: 30px;
}
.linkedin_bus .linkedin_bus_con .linkedin_bus_box span {
  color: #FFDB00;
}

.statistics {
  padding: 60px 0px;
}
.statistics .statistics_con h4 {
  font-weight: 300;
  font-size: 34px;
  line-height: 124.5%;
  margin-top: 20px;
}
.statistics .statistics_con strong {
  font-weight: bold;
}
.statistics .statistics_con .img_box img {
  margin-top: 30px;
  height: 400px;
}
.statistics .statistics_con h5 {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  text-align: center;
  margin: 30px 0px;
  font-size: 28px;
  line-height: 124.5%;
}

.content_is_hard {
  background-image: url("../images/home/bg-yellow.png");
  background-size: cover;
  padding: 100px 0px;
}
.content_is_hard .content_is_hard_con .content_is_hard_inner_con {
  padding: 50px 0px;
}
.content_is_hard .content_is_hard_con .content_is_hard_inner_con h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 124.5%;
}
.content_is_hard .content_is_hard_con .content_is_hard_inner_con h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.content_is_hard .content_is_hard_con .content_is_hard_inner_con span {
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}

.social_network {
  padding: 50px 0px;
}
.social_network .social_network_con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_network .social_network_con h3 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.social_network .social_network_con p {
  font-weight: 300;
  font-size: 18px;
  line-height: 147.5%;
}

.introducing {
  padding: 50px 0px;
}
.introducing .introducing_con h3 {
  text-transform: capitalize;
  font-style: italic;
  font-size: 45px;
}
.introducing .introducing_con h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 124.5%;
}
.introducing .introducing_con h4 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.introducing .introducing_con p {
  font-weight: 300;
  font-size: 18px;
  line-height: 147.5%;
  width: 600px;
}

.build_brand_Broadcast {
  padding: 50px 0px;
}
.build_brand_Broadcast .row {
  padding: 50px 0px;
}
.build_brand_Broadcast .row .img_box {
  text-align: center;
}
.build_brand_Broadcast .build_brand_Broadcast_con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.build_brand_Broadcast .build_brand_Broadcast_con h3 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.build_brand_Broadcast .build_brand_Broadcast_con p {
  font-weight: 300;
  font-size: 18px;
  line-height: 147.5%;
}
.build_brand_Broadcast .build_brand_Broadcast_con .btn {
  margin-top: 20px;
}

.the_brains {
  padding: 50px 0px 300px 0px;
  background-image: url("../images/home/new.png");
}
.the_brains .the_brains_con {
  text-align: center;
}
.the_brains h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 124.5%;
}
.the_brains h5 {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
  line-height: 124.5%;
  width: 300px;
  padding: 30px;
  background-image: url("../images/home/Group432.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 20px auto;
}

.time {
  margin-top: -300px;
}
.time .img_box {
  text-align: center;
}
.time .iiner_con {
  padding: 40px 100px;
}
.time .iiner_con h3 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.time .iiner_con h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 147.5%;
}
.time .iiner_con p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 147.5%;
}
.time .icon {
  width: 100% !important;
}
.time .icon .bi {
  border: 2px solid #000000;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  color: #000000;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
}

.worked_with {
  padding: 50px 0px;
  background-image: url("../images/home/Rectangle108.png");
  background-size: cover;
}
.worked_with .worked_with_con h2 {
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 124.5%;
}
.worked_with .worked_with_con .list {
  padding: 100px 130px;
}
.worked_with .worked_with_con .list ul {
  list-style: none;
}
.worked_with .worked_with_con .list ul li {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 34px;
}

.still_confused {
  position: relative;
  padding: 150px 0px;
  background-image: url("../images/home/mobile.png");
  background-repeat: no-repeat;
  background-position: right;
}
.still_confused .img_box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}
.still_confused .still_confused_con {
  padding: 50px 0px;
  width: 550px;
}
.still_confused .still_confused_con h3 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}
.still_confused .still_confused_con h2::before {
  content: "";
  border-top: 1px solid #FFDB00;
  border-width: 15px;
  width: 450px !important;
  position: absolute;
  bottom: 20%;
  left: 39%;
  transform: translate(-50%);
  z-index: -1;
}
.still_confused .still_confused_con h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 124.5%;
  margin: 15px 0px;
  position: relative;
  z-index: 1;
}
.still_confused .still_confused_con h5 {
  font-weight: 300;
  font-size: 34px;
  line-height: 147.5%;
}

footer {
  background-color: #FFDB00;
  padding: 100px 0px 10px 0px;
}
footer .footer_con_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_con_1 .text {
  width: 450px;
}
footer .footer_con_1 .text p {
  font-size: 20px;
}
footer .footer_con_2 {
  display: flex;
  justify-content: end;
}
footer .footer_con_2 ul li {
  font-size: 20px;
}
footer .footer_copyright {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 190.5%;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */